<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\divin\Documents\divin\logement\src\components\Ville\Ville.css">
</head>
<body>
    <div>
 
        <input type="text" name="code-postal" id="code-postal">
    </div>
     
    <script>
     
        document.addEventListener('DOMContentLoaded' , () => {
         
         
            const codePostalInput = document.querySelector('#code-postal');
             
            codePostalInput.addEventListener('input' , async ({data}) => {
             
                // ici un changement sur le input à été écouté
                 
                // demande la liste des villes avec la nouvelle valeur
                const response = await fetch(`https://vicopo.selfbuild.fr/?code=${data}`);
                 
                 data = await response.json();
                 
                // log les données de réponse
                console.log( data.cities[0].city );
                 
                // ensuite ta auras juste à mettre à jour ton autre input qui stocke la ville avec les data ou affiché
                // une liste déroulante car il y a plusieurs résultat
                 
                // cityInput.value = data.cities[0].city;
             
            } );
         
        } );
     
    </script>
   

    
</body>
</html>